.top-nav {
  background-color: #1b0e53;
}

#topic {
  font-family: Arial, Helvetica, sans-serif;
  color: pink;
  margin-top: 14px;
  padding: 0px;
}

body #icc {
  margin-top: 10px;
  text-align: center;
}
body #icc span {
  color: #0944a3;
  font-weight: bolder;
}

ul li {
  list-style-type: none;
}